@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  margin: 0 auto;
  width: 1280px;
}

.card_view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 25%
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  background-color: #F5F5F5;
}

.card-img {
  width: 300px;
  height: 300px;
}

.card-list-img {
  width: 150px;
  height: 150px;
}